<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>
            Moje kalorije
        </title>
    </head>
    <body style="background-color: rgb(196, 220, 228); margin-left: 5mm;" >
        <div class="container-fluid">
            <h1 style="font-family: impact; font-size: xxx-large; margin-top: 5mm;">MOJE KALORIJE</h1>
            {{!base}}
        </div>
    </body>
</html>